@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';

.CityList {
  margin-top: 1rem;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0;
    padding: 0 2rem;
  }

  &__item {
    background-size: cover;
    background-position: center;
    border-radius: .3rem;
    box-shadow: .1rem .1rem .4rem rgba($black, .65);
    cursor: pointer;
    height: 22rem;
    list-style: none;
    margin: 1.5rem;
    position: relative;
    width: 18rem;

    @include mobile {
      height: 18rem;
    }
  }

  &__item a {
    align-items: center;
    background-color: rgba($light-grey, .45);
    bottom: 0;
    color: $dark-blue;
    display: flex;
    flex-direction: column;
    font-family: $secondary-font;
    font-size: 1.675rem;
    font-weight: 800;
    height: 100%;
    justify-content: center;
    left: 0;
    letter-spacing: .1rem;
    position: absolute;
    text-decoration: none;
    width: 100%;

    @include mobile {
      font-size: 1.3rem;
    }
  }

  &__name {
    background-color: rgba($dark-blue, .65);
    bottom: 1rem;
    color: $orange;
    padding: .2rem 1rem;
    position: absolute;
  }

  &__weather {
    font-size: 5rem;
    position: relative;

    small {
      font-size: 1.2rem;
      position: absolute;
      right: -1.2rem;
      top: .5rem;

      @include mobile {
        font-size: 1rem;
      };
    }

    @include mobile {
      font-size: 3rem;
    }
  }

  &__description {
    font-size: 1.2rem;
  }

  &__weather, &__description {
    font-family: $primary-font;
  }
}
