@import './styles/colors.scss';
@import './styles/fonts.scss';

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-attachment: fixed;
  background-color: $orange;
  background-image: url('./images/background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $primary-font;
  margin: 0;
  padding: 0;
}
